* {
  font-family: 'Poppins', sans-serif;
}

body{
  margin: 0;
}

.martha-section {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #9e0101, #cd7878); /* MERAH */
  color: #333;
}

.title {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

.profile img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.profile img:hover {
  transform: scale(1.08);
}

.julukan {
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: rgb(255, 255, 255);
  padding: 20px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 25px rgba(220,38,38,0.3); /* merah glow */
}

.card h3 {
  color: #6d0f0f;
}

h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

.timeline {
  position: relative;
  max-width: 700px;
  margin: 40px auto;
  padding-left: 20px;
  border-left: 3px solid #ad0c0c; /* MERAH */
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s forwards;
}

.timeline-item:nth-child(2) { animation-delay: 0.2s; }
.timeline-item:nth-child(3) { animation-delay: 0.4s; }
.timeline-item:nth-child(4) { animation-delay: 0.6s; }

.timeline-item .dot {
  position: absolute;
  left: -11px;
  top: 5px;
  width: 18px;
  height: 18px;
  background: #940606; 
  border-radius: 50%;
}

.timeline-item .content {
  background: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.timeline-item .content:hover {
  transform: translateX(5px);
}

.timeline-item h4 {
  margin-bottom: 1px;
  color: #6d0f0f; 
}

/* ANIMASI */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 25px;
  background: linear-gradient(45deg, #450606, #841212); /* MERAH */
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(233, 50, 50, 0.7);
  background: linear-gradient(45deg, #6c0f0f, #DC2626);
}

.btn:active {
  transform: scale(0.95);
}